<a href="https://colab.research.google.com/github/paul3183/Pyspark_BigData_Udemy/blob/main/02_SECCI%C3%93N04_Transformaciones_RDD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Instalar SDK Java 8

!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# Descargar Spark 3.4.3

!wget -q https://archive.apache.org/dist/spark/spark-3.4.3/spark-3.4.3-bin-hadoop3.tgz

# Descomprimir el archivo descargado de Spark

!tar xf spark-3.4.3-bin-hadoop3.tgz

# Establecer las variables de entorno

import os

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.4.3-bin-hadoop3"

# Instalar la librería findspark

!pip install -q findspark

# Instalar pyspark

!pip install -q pyspark

# verificar la instalación ###

import findspark

findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").getOrCreate()

spark

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

In [7]:
#Función Map:
sc = spark.sparkContext

In [8]:
rdd = sc.parallelize([1,2,3,4,5])
rdd.collect()

[1, 2, 3, 4, 5]

In [9]:
rdd_resta = rdd.map(lambda x: x - 1)
rdd_resta.collect()

[0, 1, 2, 3, 4]

In [10]:
rdd_es_par = rdd.map(lambda x: x % 2 == 0)
rdd_es_par.collect()

[False, True, False, True, False]

In [11]:
rdd_texto = sc.parallelize(['jose', 'juan', 'lucia'])
rdd_texto_mayuscula = rdd_texto.map(lambda x: x.upper())
rdd_texto_mayuscula.collect()

['JOSE', 'JUAN', 'LUCIA']

In [12]:
rdd_hola = rdd_texto.map(lambda x: 'Hola ' + x)
rdd_hola.collect()

['Hola jose', 'Hola juan', 'Hola lucia']

In [13]:
#Función FlatMap:
rdd2 = sc.parallelize([1,2,3,4,5])
rdd2.collect()

[1, 2, 3, 4, 5]

In [14]:
rdd_tupla_cuadrado = rdd2.map(lambda x: (x, x**2))
rdd_tupla_cuadrado.collect()

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [15]:
#vemos que nos devuelve un resultado plano de ahi su nombre flatmap.
rdd_flat_cuadrado = rdd2.flatMap(lambda x: (x, x**2))
rdd_flat_cuadrado.collect()

[1, 1, 2, 4, 3, 9, 4, 16, 5, 25]

In [16]:
rdd_texto_fm = sc.parallelize(['jose', 'juan', 'lucia'])
rdd_mayuscula = rdd_texto_fm.flatMap(lambda x: (x, x.upper()))
rdd_mayuscula.collect()

['jose', 'JOSE', 'juan', 'JUAN', 'lucia', 'LUCIA']

In [17]:
#FUNCIÓN FILTER:
rdd_f = sc.parallelize([1,2,3,4,5,6,7,8,9])
rdd_par_f = rdd_f.filter(lambda x: x % 2 == 0)
rdd_par_f.collect()

[2, 4, 6, 8]

In [18]:
rdd_impar_f = rdd_f.filter(lambda x: x % 2 != 0)
rdd_impar_f.collect()

[1, 3, 5, 7, 9]

In [19]:
rdd_texto_f = sc.parallelize(['jose', 'juaquin', 'juan', 'lucia', 'karla', 'katia'])
rdd_texto_f_k = rdd_texto_f.filter(lambda x: x.startswith('k'))
rdd_texto_f_k.collect()

['karla', 'katia']

In [20]:
rdd_filtro = rdd_texto_f.filter(lambda x: x.startswith('j') and x.find('u') == 1)
rdd_filtro.collect()

['juaquin', 'juan']

In [21]:
#FUNCIÓN COALESCE:
rdd_coal = sc.parallelize([1,2,3,4,5], 10)
rdd_coal.getNumPartitions()

10

In [23]:
rdd.coalesce(5)  #los rdds son inmutables asi que hay que guardarlo en una variable para ver reflejada la funcion coalesce
rdd_coal.getNumPartitions()

10

In [24]:
rdd_coalesce_aplicado = rdd.coalesce(5)
rdd_coalesce_aplicado.getNumPartitions()

2

In [25]:
#FUNCIÓN REPARTITION:
rdd_rep = sc.parallelize([1,2,3,4,5], 3)
rdd_rep.getNumPartitions()

3

In [26]:
rdd_7 = rdd_rep.repartition(7)
rdd_7.getNumPartitions()

7

In [27]:
#FUNCIÓN reduceByKey
rdd_rbk = sc.parallelize([('casa',2),('parque',1),('que',5),('casa',1), ('escuela',2), ('casa',1), ('que',1)])

In [28]:
rdd_rbk.collect()

[('casa', 2),
 ('parque', 1),
 ('que', 5),
 ('casa', 1),
 ('escuela', 2),
 ('casa', 1),
 ('que', 1)]

In [29]:
rdd_reducido = rdd_rbk.reduceByKey(lambda x,y: x + y)
rdd_reducido.collect()

[('parque', 1), ('que', 6), ('casa', 4), ('escuela', 2)]

#EJERCICIOS

In [32]:
#1.-Cree un RDD llamado lenguajes que contenga los siguientes lenguajes de programación: Python, R, C, Scala, Rugby y SQL.
rdd_lenguajes = sc.parallelize(['Python', 'R', 'C', 'Scala', 'Rugby', 'SQL'])

In [33]:
#a.-Obtenga un nuevo RDD a partir del RDD lenguajes donde todos los lenguajes de programación estén en mayúsculas.
rdd_mayus = rdd_lenguajes.map(lambda x: x.upper())
rdd_mayus.collect()

['PYTHON', 'R', 'C', 'SCALA', 'RUGBY', 'SQL']

In [34]:
#b.- Obtenga un nuevo RDD a partir del RDD lenguajes donde todos los lenguajes de programación estén en minúsculas.
rdd_minus = rdd_lenguajes.map(lambda x: x.lower())
rdd_minus.collect()

['python', 'r', 'c', 'scala', 'rugby', 'sql']

In [35]:
#c.- Cree un nuevo RDD que solo contenga aquellos lenguajes de programación que comiencen con la letra R.
rdd_R = rdd_lenguajes.filter(lambda x: x.startswith('R'))
rdd_R.collect()

['R', 'Rugby']

In [36]:
#2.- Cree un RDD llamado pares que contenga los números pares existentes en el intervalo [20;30].
pares = [x for x in range(20,31) if x % 2 == 0]
rdd_pares = sc.parallelize(pares)
rdd_pares.collect()

[20, 22, 24, 26, 28, 30]

In [37]:
#a.- Cree el RDD llamado sqrt, este debe contener la raíz cuadrada de los elementos que componen el RDD pares.
import math
sqrt = rdd_pares.map(lambda x: math.sqrt(x))
sqrt.collect()

[4.47213595499958,
 4.69041575982343,
 4.898979485566356,
 5.0990195135927845,
 5.291502622129181,
 5.477225575051661]

In [40]:
#b.- Obtenga una lista compuesta por los números pares en el intervalo [20;30] y sus respectivas raíces cuadradas. Un ejemplo del resultado deseado para el intervalo [50;60] sería la lista [50, 7.0710678118654755, 52, 7.211102550927978, 54, 7.3484692283495345, 56, 7.483314773547883, 58, 7.615773105863909, 60, 7.745966692414834].
import math
list_fm = rdd_pares.flatMap(lambda x: (x, math.sqrt(x)))
list_fm.collect()

[20,
 4.47213595499958,
 22,
 4.69041575982343,
 24,
 4.898979485566356,
 26,
 5.0990195135927845,
 28,
 5.291502622129181,
 30,
 5.477225575051661]

In [41]:
#c.- Eleve el número de particiones del RDD sqrt a 20.
sqrt.getNumPartitions()

2

In [42]:
sqrt_20 = sqrt.repartition(20)
sqrt_20.getNumPartitions()

20

In [43]:
#d.- Si tuviera que disminuir el número de particiones luego de haberlo establecido en 20, ¿qué función utilizaría para hacer más eficiente su código?
sqrt_coalesce = sqrt_20.coalesce(10)
sqrt_coalesce.getNumPartitions()
#Usamos la función Coalesce para disminuir el número de particiones.

10

In [46]:
#3.- Cree un RDD del tipo clave valor a partir de los datos adjuntos como recurso a esta lección. Tenga en cuenta que deberá procesar el RDD leído para obtener el resultado solicitado. Supongamos que el RDD resultante de tipo clave valor refleja las transacciones realizadas por número de cuentas. Obtenga el monto total por cada cuenta.
#Esto hay dentro del documento y esta como texto:
#(1001, 52.3)
#(1005, 20.8)
#(1001, 10.1)
#(1004, 52.7)
#(1005, 20.7)
#(1002, 85.3)
#(1004, 20.9)

In [44]:
rdd_data = sc.textFile('./transacciones')
rdd_data.collect()

['(1001, 52.3)',
 '(1005, 20.8)',
 '(1001, 10.1)',
 '(1004, 52.7)',
 '(1005, 20.7)',
 '(1002, 85.3)',
 '(1004, 20.9)']

In [60]:
#hacemos una función para hacer mas eficiente el código:
def proceso(s):
  return tuple(s.replace('(', '').replace(')', '').split(', '))

In [61]:
rdd_llave_valor = rdd_data.map(proceso)

In [63]:
rdd_llave_valor.collect()

[('1001', '52.3'),
 ('1005', '20.8'),
 ('1001', '10.1'),
 ('1004', '52.7'),
 ('1005', '20.7'),
 ('1002', '85.3'),
 ('1004', '20.9')]

In [64]:
rdd_llave_valor.reduceByKey(lambda x,y: float(x) + float(y)).collect()

[('1002', '85.3'), ('1001', 62.4), ('1005', 41.5), ('1004', 73.6)]